{% extends "Accounts/Padre.html" %}
{% load static %}

{% block titulo %} Editar perfil {% endblock %}

{% block Main %}
<section id="hero2" class="d-flex align-items-center">

  <div class="container">
    <div class="row">
    </div>
  </div>

</section>

<!-- End Hero -->

{% endblock %}

{% block bloque2 %}

<link href="{% static 'Accounts/Page/assets/css/account.css' %}" rel="stylesheet">
</head>
<body>
<div class="container-xl px-4 mt-4">


<hr class="mt-0 mb-4">
<div class="row">
	<div class="col-xl-4">
		<div class="card mb-4 mb-xl-0">
			<div class="card-header">Foto de perfil</div>
			<div class="card-body text-center">
				{% if request.user.avatar_set.exists %}
					{% if request.user.avatar_set.first.imagen %}
						<img src="{{ request.user.avatar_set.first.imagen.url }}" class="img-account-profile rounded-circle mb-2" alt="Avatar de {{ request.user.username }}">
					{% else %}
						<img src="{% static 'Accounts/nonavatar.png' %}" alt="user" class="img-account-profile rounded-circle mb-2">
					{% endif %}
				{% else %}
				<!-- Si no existe el objeto Avatar -->
					<img src="{% static 'Accounts/nonavatar.png' %}" alt="user" class="img-account-profile rounded-circle mb-2">
				{% endif %}
			</div>
		</div>
	</div>
<div class="col-xl-8">

<div class="card mb-4">
<div class="card-header">Detalles de cuenta</div>
<div class="card-body">
<form>

<div class="mb-3">
<label class="small mb-1" for="inputUsername">Usuario </label>
<label class="form-control" for="inputUsername">{{request.user.username}} </label>
</div>

<div class="row gx-3 mb-3">

<div class="col-md-6">
<label class="small mb-1" for="inputFirstName">Nombre</label>
<label class="form-control" for="inputUsername">{{request.user.first_name}} </label>
</div>

<div class="col-md-6">
<label class="small mb-1" for="inputLastName">Apellido</label>
<label class="form-control" for="inputUsername">{{request.user.last_name}} </label>
</div>
</div>

<div class="mb-3">
<label class="small mb-1" for="inputEmailAddress">Email </label>
<label class="form-control" for="inputUsername">{{request.user.email}} </label>
</div>

</form>
</div>
</div>
</div>
</div>
</div>
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript">
	
</script>
	
{% endblock %}
